@model MACPortal.Models.ChangePasswordModel

@{
    ViewBag.Title = "Mudar Senha";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
}

<img class="image-glow" src="../../Content/images/logo-with-products-small.png"/>

<h3>Mudar minha Senha</h3>

<section id="pre-register-form">

    @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal).InputWidthMd(7)))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.UserName);
        @Html.HiddenFor(m => m.Token);

        @f.FormGroup().PasswordFor(m => m.NewPassword).Label().WidthMd(5)
        @f.FormGroup().PasswordFor(m => m.ConfirmPassword).Label().WidthMd(5)
        @Html.Bootstrap().SubmitButton().AppendIcon("glyphicon glyphicon-chevron-right").Text("Modificar Senha").Class("forgot-pass-bt")
    }

</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
